<!-- Used to format the information sent by email when a user submits a recipe. -->

<h1>Recipe submission</h1>
<h2>Basic information</h2>
<p><b>Recipe name:</b> {{ recipe_name }}</p>
<p><b>Description:</b> {{ description }}</p>
<p><b>Special note:</b> {{ special_note }}</p>
<p><b>Cooking time:</b> {{ cooking_time }}</p>
<p><b>Number of portions:</b> {{ number_of_portions }}</p>
<p><b>Recipe estimated cost:</b> {{ recipe_estimated_cost }}</p>
<p><b>Recipe origin country:</b> {{ origin_country }}</p>
<p><b>Recipe category:</b> {{ recipe_category }}</p>
<p><b>Recipe picture:</b> {{ pic }}</p>
<h2>Ingredients</h2>
<p><b>Ingredient:</b> {{ ingredients }}</p>
<h2>Allergens</h2>
<p><b>Allergens:</b> {{ allergens }}</p>
<h2>Cooking instructions</h2>
<p><b>Cooking instructions:</b> {{ cooking_instructions }}</p>
<h2>Recipe tools</h2>
<p><b>Recipe tools:</b> {{ recipe_tools }}</p>
<h2>Similar / complementary recipes</h2>
<p><b>Similar / complementary recipes:</b> {{ recipe_similar_complementary }}</p>

