{% load static %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Cuisine atlas</title>
    <link rel="shortcut icon" href="{% static 'accounts/img/website-logo.png' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'recipes/manifest.json' %}">
</head>

<main>
    <header>
        <div class="header-display">
            <nav class="navbar navbar-expand-md navbar-light justify-content-end">
                <div class="logo-container">
                    <img src="{% static 'accounts/img/website-logo.png' %}" alt="ac-logo" class="logo-image">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:recipes_list_unsigned_users' %}">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:about' %}">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <body>
        <div class="image-background">
            <div class="row action-boxes">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10">
                    <div class="action-box-1 reset-password-page3-white-background-bottom-padding">
                        <h1 class="website-title">A tablespoon of discovery</h1>
                        <br>
                        <h2 class="page-main-message">Reset password</h2>
                        <br>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <!-- Used to display correct field label (new_password1 or new_password2 come from forms.py in accounts app, class MyPasswordResetForm) -->
                                    {% if field.name == 'new_password1' %}
                                    <h6>Enter new password</h6>
                                    {% elif field.name == 'new_password2' %}
                                    <h6>Enter new password confirmation</h6>
                                    {% endif %}
                                    <div class="reset-password-form">
                                        <div class="input-group">
                                            <input id="{{ field.auto_id }}" name="{{ field.name }}" type="password"
                                                class="form-control" aria-label="{{ field.label }}"
                                                aria-describedby="{{ field.auto_id }}"
                                                value="{{ field.value|default:'' }}">
                                        </div>
                                        {% if field.errors %}
                                        <div class="custom-alert alert-danger">
                                            {% for error in field.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-dark btn-sm">Change password</button>
                                </form>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="{% static 'recipes/js/javascript.js' %}"></script>
</main>

</html>
{% endblock %}